* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lexend Deca", sans-serif;
}

.content {
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 70%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;

  section {
    width: 50%;
    flex: 1 1 50rem;
  }

  .text {
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    background-color: hsl(244, 38%, 16%);
    padding: 7rem 10rem;

    color: white;
    p {
      font-size: 2rem;
    }
    header {
      h1 {
        font-size: 4rem;
        padding-bottom: 5rem;
        span.special {
          color: hsl(277, 64%, 61%);
        }
      }
      p {
        padding-bottom: 8rem;
        color: rgba(255, 255, 255, 0.85);
        line-height: 200%;
      }
    }

    .stats ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      li {
        padding-top: 3rem;
        flex: 1 1 10rem;
      }
      h5 {
        font-size: 3rem;
      }
      p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 1.4rem;
      }
    }
  }

  .image {
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: rebeccapurple;
    img {
      width: 100%;
      height: 100%;
      opacity: 40%;
      border-bottom-right-radius: 3rem;
      border-top-right-radius: 3rem;
    }
  }
}

@media screen and (max-width: 1600px) {
  .card {
    width: 50%;
    padding: 10rem 0;
  }
  .image {
    order: 1;
  }

  .text {
    order: 2;
  }
  html {
    font-size: 50%;
  }

  .card .image,
  .card .image img {
    border-radius: 0;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }
  .card .text {
    border-radius: 0;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .card {
    width: 90%;
    .text {
      padding: 5rem 5rem;
    }
  }
  .stats ul {
    flex-direction: column;
    align-items: center;
  }
  html {
    font-size: 50%;
  }
}

// @media screen and (max-width: 600px) {
//   body {
//     font-size: 50%;
//   }
//   .card {
//     width: 80%;
//     min-height: 100vh;
//     background-color: hsl(244, 38%, 16%);
//     display: flex;
//     flex-wrap: wrap;
//   }
//   /* Swap orders */
//   .card-image {
//     order: 1;
//   }
//   .card-introduction {
//     order: 2;
//   }
// }
