* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --header1: calc(3.2rem + 1vw);
  --header2: calc(2.7rem + 1vw);
  --header3: calc(2rem + 1vw);
  --header4: calc(1.5rem + 1vw);
  --text: calc(0.5rem + 1vw);
  --tiny: calc(0.2rem + 1vw);

  font-family: "Lexend Deca", sans-serif;
}

h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}

h2 {
  font-size: var(--header2);
}

h3 {
  font-size: var(--header3);
  font-weight: normal;
}

h4,
h5 {
  font-size: var(--header4);
}

span.special {
  color: hsl(277, 64%, 61%);
}

ul {
  list-style-type: none;
}

body {
  max-height: 100vh;
  background-color: hsl(233, 47%, 7%);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  width: 80%;
  height: 60vh;
  background-color: hsl(244, 38%, 16%);
  display: flex;
  /* flex-wrap: wrap; */
}

.card-introduction {
  flex: 1 1 40rem;
  color: white;
  padding: 9rem;
}

.card-introduction p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-top: 3rem;
  padding-bottom: 8rem;
  line-height: 150%;
}

.card-introduction .stats ul {
  display: flex;
}

.card-introduction .stats li {
  flex: 1 1 40rem;
  text-align: left;
}

.card-introduction .stats li p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.card-image {
  flex: 1 1 40rem;
  background-color: hsl(278, 93%, 28%);
}

img {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
